html, body{
    margin: 10px;
    padding: 0;
    background-color: hsl(218, 23%, 16%);
}

.advice_generator{
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    margin: 75px;
    margin-left: 300px;
    padding: 40px;
    width: 540px;
    height: 270px;
    background-color: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
    border-radius: 10px;
    position: relative;
}

.advice_generator h1{
    color: hsl(150, 100%, 66%);
    font-size: 20px;
}

.line{
    width: 90%;
    color: hsl(217, 19%, 38%);
}

.circle{
    margin-left: 213px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    position: absolute;
    top: 320px;
}

.circle_img{
    margin: 15px;
    width: 31px;
    height: 31px;
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}
